.grid-container {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px; 
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.grid-container > div {
    color: #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
}

.item1 {
    background-color: blueviolet;
}

.item2{
    background-color: blue;
}